.popup {
	width: 400px;
	background: #fff;
	border-radius: 6px;
	position: fixed;
	top: 0;
	left: 50%;
	transform: translate(-50%, -50%) scale(0.1);
	text-align: center;
	padding: 0 30px 30px;
	color: #333;
	z-index: 1;
	visibility: hidden;
	transition: transform 0.4s, top 0.4s;
}

.open-popup {
	visibility: visible;
	top: 50%;
	transform: translate(-50%, -50%) scale(1);
}

.popup img {
	width: 80px;
	margin-top: -30px;
	border-radius: 50%;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.popup h2 {
	font-size: 38px;
	font-weight: 500;
	margin: 30px 0 10px;
}

.popup button {
	width: 40%;
	margin-top: 50px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #fff;
	border: 0;
	outline: none;
	font-size: 18px;
	border-radius: 4px;
	cursor: pointer;
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.yes {
	margin-right: 20px;
	background: #780808;
}

.no {
	margin-left: 20px;
	background: #6fd649;
}

.yes:hover {
	background-color: #aa0000;
}

.yes:active {
	background-color: #aa0000;
	transform: translateY(4px);
}

.no:hover {
	background-color: #05bb0b;
}

.no:active {
	background-color: #05bb0b;
	transform: translateY(4px);
}
